.app {
    margin: 2em;
}

.datetimePicker,.durationPicker {
    width: 16em;
}

.lastAction .removeAction{
    opacity: 0;
    padding: 0.2em;
    float: none;
    font-size: 1em;
    transition: all 0.5s ease;
}

.lastAction:hover .removeAction{
    opacity: 0.5;
}
