<template name="addHabitDialog">

    <div id="addHabitDialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Habit</h4>
                </div>
                <div class="modal-body">
                    {{>addHabit}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveHabitButton">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>

<template name="addHabit">
    <form id="addHabit" action="" role="form" style="max-width: 20em">

        <div class="form-group">
            <label for="title">New Habit:</label>
            <input id="title" name="title" autofocus="true" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <select name="category" id="category" class="form-control">
                {{#each categories}}
                    {{#if isSelectedCategory}}
                        <option value="{{_id}}" selected>{{title}}</option>
                    {{else}}
                        <option value="{{_id}}">{{title}}</option>
                    {{/if}}
                {{/each}}
                <option disabled>──────────────────────────</option>
                <option value="new">New Category</option>
            </select>
        </div>

        <div class="form-group" style="display: none" id="newCategory">
            <label for="categoryTitle">New Category:</label>
            <input id="categoryTitle" name="categoryTitle" class="form-control"/>
        </div>

        <input type="submit" value="Add" class="btn btn-primary" style="display: none"/>
    </form>
</template>