<template name="trackHabit">
    <tr>
        <td>{{category.title}}</td>

        <td>{{title}}</td>

        <td>
            {{#if showLastAction}}
                {{#if lastAction}}
                    <div class="lastAction">{{fromNow lastAction.date}} x {{lastAction.duration}} min</div>
                {{/if}}
            {{/if}}
            {{#if showLastWeek}}
                {{#each lastWeek}}
                    <div class="lastAction">{{fromNow date}} x {{duration}} min</div>
                {{/each}}
            {{/if}}
        </td>


        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary add" data-duration="15">Add 15 min</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="add" href="#" data-duration="30">Add 30 min</a></li>
                    <li><a class="add" href="#" data-duration="45">Add 45 min</a></li>
                    <li><a class="add" href="#" data-duration="60">Add 1 hour</a></li>
                    <li><a class="add" href="#" data-duration="75">Add 75 min</a></li>
                    <li><a class="add" href="#" data-duration="90">Add 90 min</a></li>
                    <li><a class="add" href="#" data-duration="105">Add 105 min</a></li>
                    <li><a class="add" href="#" data-duration="120">Add 2 hours</a></li>
                    <li><a class="add" href="#" data-duration="180">Add 3 hours</a></li>
                    <li><a class="add" href="#" data-duration="240">Add 4 hours</a></li>
                    <li><a class="add" href="#" data-duration="300">Add 5 hours</a></li>
                    <li><a class="add" href="#" data-duration="360">Add 6 hours</a></li>
                </ul>
            </div>
        </td>
    </tr>
</template>