<template name="track">
    {{>addActionDialog}}
    {{>editHabitDialog}}
    <a class="btn btn-primary showAddHabitDialogButton" style="margin-left: 0.5em;">Add Habit</a>

    {{#if existHabits}}

        <table class="table table-striped" style="margin-top: 0.5em">
            <thead>
            <tr>
                <th>Habit</th>
                <th>Category</th>
                <th>
                    <div class="dropdown">
                        <a id="actionsColumnLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                            {{actionsColumnLabel}}
                        </a>

                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a class="actionsColumnMode" href="#">Last Action</a></li>
                            <li><a class="actionsColumnMode" href="#">Last Week</a></li>
                        </ul>

                    </div>
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each habits}}
                {{>trackHabit}}
            {{/each}}
            </tbody>
        </table>

    {{else}}
        <div class="alert alert-info" style="margin-top: 1em;">
            There are no habits yet. Please add one!
        </div>
    {{/if}}

</template>



<template name="addActionDialog">

    <div id="addActionDialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Action for habit "{{currentHabit.title}}"</h4>
                </div>
                <div class="modal-body">
                    <form id="addActionForm" action="" role="form" style="max-width: 20em">

                        <div class="form-group">
                            <label for="durationPicker">Duration:</label>

                            <div class='input-group date durationPicker' id='durationPicker'>
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dateTimePicker">Date:</label>

                            <div class='input-group date datetimePicker' id='dateTimePicker'>
                                <input type='text' class="form-control"/>
                                <span class="input-group-addon"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <input type="submit" value="Add" style="display: none"/>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary addAction">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>

